---
---
@charset "utf-8";
@import "bootstrap";

$pumpkin: #ff7200;

body, .jumbotron {
  background-color: $pumpkin;
  text-align: center;
  color: white;
  -webkit-text-shadow: 1px 1px 1px #333;
  -moz-text-shadow: 1px 1px 1px #333;
  text-shadow: 1px 1px 1px #333;
  width: 95%;
  margin: 0 auto;
}
